body {
    background: #f9f07d;
}

input.button {
    width: 84px;
}

#wrapper {
    margin: 0 auto;
    min-width: 782px;
    width: 782px;
}

#board, #controls, h1 {
    margin: 12px 0;
}

#board table {
    border-collapse: collapse;
}

#board table td {
    border: 1px solid #ccc;
    padding: 0;
    height: 12px;
    width: 12px;
}

#board table td.alive {
    background: #000;
}

#board table td.alive:hover {
    background: #530000;
}

#board table td.dead {
    background: white;
}

#board table td.dead:hover {
    background: #f9f07d;
}

#start-stop-controls {
    float: left;
    width: 391px;
}

#reset-controls {
    margin-left: 391px;
    width: 391px;
    text-align: right;
}