body {
    background: #f9f07d;
}

#board table {
    border-collapse: collapse;
}

#board table td {
    height: 10px;
    width: 10px;
    border: 1px solid #ccc;
}

#board table td.alive {
    background: #000;
}

#board table td.alive:hover {
    background: #530000;
}

#board table td.dead {
    background: white;
}

#board table td.dead:hover {
    background: #f9f07d;
}